.progress-wrapper {
  margin-top: 60px;
}
.progress-bar {
  height: 10px;
  width: 400px;
  background: white;
  border-radius: 10px;
}
.progress-fill {
  height: 10px;
  width: 100px;
  background: orange;
  border-radius: 10px;
  transition: width 2s;
}
